<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Dagbladet - Valgomat</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic,300,300italic|Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/public/css/app.css" />
        <link rel="stylesheet" href="/public/css/style.css" />
    </head>
    <body>
        <div id="container">
            <div class="header row">
                <div class="small-12 medium-8 large-8 columns">
                    <h1 class="title">Valgomat 2015</h1>
                    <strong class="subtitle">Finn et parti som passer deg</strong>
                    <p class="tips">Hvor viktig du angir at hver sak er, er helt avgjørende for hvilket parti du havner på. Unngå om mulig å svare «nøytral», for et best mulig resultat.</p>
                </div>
            </div>

            <div class="demographic genders row" style="">
                <div class="small-12 medium-6 large-6 columns">

                    <h3 class="question">Er du kvinne eller mann?</h3>
                    <div class="gender female small-6 medium-6 large-6 columns">
                        <span class="icon icon-Userfemale"></span>
                        <span>Kvinne</span>
                    </div>
                    <div class="gender male small-6 medium-6 large-6 columns">
                        <span class="icon icon-User"></span>
                        <span>Mann</span>
                    </div>
                </div>
            </div>

            <div class="demographic municipality row">
                <div class="small-12 medium-6 large-6 columns">
                    <h3 class="question margin">Bor du i Trondheim kommune?</h3>
                    <div class="small-6 medium-6 large-6 columns">
                        <button class="button primary green">Ja</button> 
                    </div>
                    <div class="small-6 medium-6 large-6 columns">
                        <button class="button primary">Nei</button> 
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
