<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Dagbladet - Valgomat</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic,300,300italic|Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/public/css/app.css" />
        <link rel="stylesheet" href="/public/css/style.css" />
        <script type="text/javascript">
            ! function() {
                function e(e, t, n) {
                    e.addEventListener ? e.addEventListener(t, n, !1) : e.attachEvent && e.attachEvent("on" + t, n)
                }

                function t(e) {
                    return window.localStorage && localStorage.font_css_cache && localStorage.font_css_cache_file === e
                }

                function n() {
                    if (window.localStorage && window.XMLHttpRequest)
                        if (t(o)) a(localStorage.font_css_cache);
                        else {
                            var n = new XMLHttpRequest;
                            n.open("GET", o, !0), e(n, "load", function() {
                                4 === n.readyState && (a(n.responseText), localStorage.font_css_cache = n.responseText, localStorage.font_css_cache_file = o)
                            }), n.send()
                        } else {
                        var c = document.createElement("link");
                        c.href = o, c.rel = "stylesheet", c.type = "text/css", document.getElementsByTagName("head")[0].appendChild(c), document.cookie = "font_css_cache"
                    }
                }

                function a(e) {
                    var t = document.createElement("style");
                    t.innerHTML = e, document.getElementsByTagName("head")[0].appendChild(t)
                }
                var useSSL = "https:" == document.location.protocol;
                var o = (useSSL ? "https:" : "http:") + "//styleguide.dagbladet.no/stylesheets/fonts.css";
                window.localStorage && localStorage.font_css_cache || document.cookie.indexOf("font_css_cache") > -1 ? n() : e(window, "load", n)
            }();
        </script>
    </head>
    <body>
        <div id="container">
            <div class="header row">
                <div class="small-12 medium-8 large-8 columns">
                    <h1 class="title">Valgomat 2015</h1>
                    <strong class="subtitle">Finn et parti som passer deg</strong>
                    <p class="tips">Hvor viktig du angir at hver sak er, er helt avgjørende for hvilket parti du havner på. Unngå om mulig å svare «nøytral», for et best mulig resultat.</p>
                </div>
            </div>

            <div class="demographic genders row" style="display: none;">
                <div class="small-12 medium-6 large-6 columns">

                    <h3 class="question">Er du kvinne eller mann?</h3>
                    <div class="gender female small-6 medium-6 large-6 columns" value="female">
                        <span class="icon icon-Userfemale"></span>
                        <span>Kvinne</span>
                    </div>
                    <div class="gender male small-6 medium-6 large-6 columns" value="Male">
                        <span class="icon icon-User"></span>
                        <span>Mann</span>
                    </div>
                </div>
            </div>

            <div class="demographic municipality row" style="display: none;">
                <div class="small-12 medium-6 large-6 columns">
                    <h3 class="question margin">Bor du i <span id="municipality"></span>?</h3>
                    <div class="small-6 medium-6 large-6 columns">
                        <button class="button primary green agree">Ja</button> 
                    </div>
                    <div class="small-6 medium-6 large-6 columns">
                        <button class="button primary disagree">Nei</button> 
                    </div>
                </div>
            </div>

            <div class="political question row" style="display:none;">
                <div class="small-12 medium-6 large-6 columns">
                    <h3 class="question margin">Oljedrilling i Vesterålen er bra.</h3>
                    <div class="slider small-12 medium-12 large-12 columns">
                        <div id="slider"></div>
                    </div>
                    <div class="small-12 medium-12 large-12 columns">
                        <div class="small-6 medium-6 large-6 columns">
                            <button class="button">Ferdig</button> 
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <script async src="/public/js/jquery-1.11.3.min.js"></script>
        <script async src="/public/js/slider.js"></script>
        <script async src="/public/js/app.js"></script>
    </body>
</html>
